body {
  height: 100%;
  /* background: linear-gradient(to bottom, #7b7b79, #5a5a5a, #40403e) fixed; */
  background: #f1ebf0;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  /* 文字の間隔を少し開けた */
  letter-spacing: 0.05em;

  /* padding-left: 15px;
  padding-right: 15px; */

  display: flex;
  flex-direction: column;
}

/* wrappaer内部 */
header {
  height: 7%;
  width: 100%;

  /* 上下10px 左右0px */
  padding: 10px 0;

  background-color: #d1d2c8;
  text-align: center;

  box-sizing: border-box;
}

main {
  height: 93%;
}
