body {
  height: 100%;

  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;

  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  flex-direction: column;
}

/* wrappaer内部 */
header {
  height: 7%;
  width: 100%;

  /* 上下10px 左右0px */
  padding: 10px 0;

  background-color: rgb(106, 240, 245);
  text-align: center;

  box-sizing: border-box;
}

main {
  height: 93%;
}
