.loading-message,
.error-message,
.no-books-message {
  text-align: center;
}

.error-message {
  margin: 10px;
}
.no-books-message {
  width: 100%;
  color: #454545;
  /* color: #f1f1f1; */
}

.no-selection-message {
  text-align: center;
}

.book-shelf-header {
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

/* 本棚のレイアウト */
.book-shelf-container {
  /* background-color: azure; */
  /* border: 1px solid #090909; */
  overflow-y: auto;
  border-radius: 4px;

  /* height: 95%; */
  margin-top: 7px;
  max-width: 100vw;
  max-height: 80vh;
}

.book-shelf-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 100%;
  justify-items: center;
}

/* 本のカード関連 */
.book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
}

.book-link {
  text-decoration: none;
}

.book-image-container {
  height: 7rem;
  width: 5rem;
  margin-bottom: 0.25rem;
  aspect-ratio: 2/3;
}

.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* テキスト関連 */
.book-title {
  font-size: 0.75rem;
  text-align: center;
  color: #454545;
  /* color: #f1f1f1; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-link:hover .book-title {
  color: #a452b5;
}

.author-name {
  padding: 0rem 1rem;
}

.related-authors-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #454545;
  /* color: #f1f1f1; */
}

/* スクロールバーのスタイリング */
.book-shelf-container::-webkit-scrollbar {
  width: 8px;
}

.book-shelf-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.book-shelf-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.book-shelf-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
