/* item-container内部 */

.list-container {
    height:100%;
    width:20%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .info-list-container {
    height:100%;
    width:20%;

    padding-left: 15px;
    padding-right: 15px;
  }

  .info-container {
    height:40%;
    width:100%;
    background-color: rgba(175, 209, 209, 0.548);
  }

  .list-container {
    height:60%;
    width:100%;
    background-color: rgb(253, 239, 199);
  }
  
  .vis-container {
      height:100%;
      width: 50%;
      background-color: rgb(220, 243, 197);
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
  }

  .network-graph {
    height:100%;
    width:100%;
    border: 2px solid #000;
  }
  
  .book-container {
    height: 100%;
    width: 30%;
  
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: rgb(253, 239, 199);
    background-clip: content-box; /* 背景色をcontent部分のみに限定 */
  }